<mat-list role="list">
	<mat-list-item role="listitem">customerId: {{data?.customerId}}</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item role="listitem">employeeId: {{data?.employeeId}}</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item role="listitem">freight: {{data?.freight}}</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item role="listitem">shipName: {{data?.shipName}}</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item role="listitem">shipAddress: {{data?.shipAddress}}</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item role="listitem">shipCity: {{data?.shipCity}}</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item role="listitem">shipPostalCode: {{data?.shipPostalCode}}</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item role="listitem">shipCountry: {{data?.shipCountry}}</mat-list-item>
</mat-list>